*, 
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --ff-primary: 'Courier New', Courier, monospace;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #68acd3;
  --clr-bkground: #DBEFE1;


  --fs-h1: 9rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem; 
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rbga(0,0,0,.25);
}

@media (min-width: 800px) {
    :root {  
    --fs-h1: 9.75rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1rem;
    --fs-body: 1rem;
    }
}

html {
    scroll-behavior: smooth;
}

.Portfolio { 
  background: var(--clr-bkground);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.navbar{
  font-size: 2em;
  color: var(--clr-dark);
  background: rgb(255, 255, 255);
  text-align: right;

}

h1.intro--title {
  font-family: var(--ff-primary);
  font-size: 14rem;
  margin-left: .2em;
}

.intro--subtitle {
  font-family: var(--ff-primary);
  font-size: 2em;
  text-align: left;
  margin-left: 1.75em;
  margin-right: 2em;
}

.pho-bowl {
  vertical-align: bottom;
  vertical-align: bottom;
}

strong {
    font-weight: var(--fw-bold)
}

img { 
    /* display: block; */
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1; 
    margin: 0;
}

.technical-skills{
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-self: center;
  align-content: center;
  margin-top: 5%;
}

h2.technical-skills{
  font-size: var(--fs-h2);
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

.tech-imgs {
  align-items: center;
  justify-content: center;
}


.about {
  align-content: center;
  margin-top: 10%;
}
.img-container {
  max-width: 500px;
  max-height: 600px;
}

h2.about-me {
  font-size: 4em;
  font-family:'Courier New', Courier, monospace
}

p.about-me {
  font-size: 1.5em;
}